@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

@layer base {
  #__next {
    display: contents;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

/* @layer components {
  #__next {
    @apply w-5/12 h-full;
  }
  html,
  body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: "Red Hat Display", "Helvetica Neue", "Helvetica", "Arial",
      "Spoqa Han Sans", "Malgun Gothic", "Apple SD Gothic Neo", "돋움", dotum,
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply flex flex-col items-center;
  }
} */
